@import "tailwindcss";

@theme {
  --color-dark-charcoal: #333;
}

.bg-grid {
  background-image: linear-gradient(
      to right,
      rgb(255 255 255 / 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(255 255 255 / 0.04) 1px, transparent 1px);

  background-size: 5rem 5rem;
}
